extends layout

block layout-content
    div.View
        h1.Banner Coin Goose
        //p data status: #{apiStatus}
        table
            tr
                th Rank
                th Symbol
                th Name
                th Market Cap
                th Price
            each coin in coins
                tr 
                    td #{coin.market_cap_rank}
                    td #{coin.symbol}
                    td #{coin.name}
                    td #{coin.market_cap}
                    td #{coin.current_price}